@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.item {
  background: gray;
  color: black;
  border: 2px solid #1313;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}

.item:hover {
  background: lime;
}

.botao {
  @apply px-4 py-2 rounded m-2 hover:opacity-80
}

@theme {
  --color-ilson: rgb(255, 136, 0);
}